@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-d {
    @apply tracking-widest hover:text-softRed font-bold
  }
  #menu div {
    @apply w-full py-3 text-center
  }
  #menu a {
    @apply block hover:text-softRed;
  }
  .btn-primary {
    @apply px-6 py-3 mt-4 font-semibold text-white border-2 border-softBlue rounded-lg md:inline-flex bg-softBlue hover:bg-white hover:text-softBlue hover:border-softBlue hover:border-2
  }
  .btn-secondary {
    @apply px-6 py-3 mt-4 font-semibold text-black border-2 border-gray-300 rounded-lg md:inline-flex bg-gray-300 hover:bg-white hover:text-black hover:border-black hover:border-2
  }
  .col3-content {
    @apply flex flex-col space-y-8 md:w-1/2 ml-6
  }
  .col3-content h3 {
    @apply mt-6 text-3xl font-semibold text-center md:mt-0;
  }
  .col3-content p {
    @apply text-center
  }
  .tab-name {
    @apply flex justify-center text-center cursor-pointer md:border-b-0 hover:text-softRed md:w-1/3 md:text-2xl;
  }
  .tab-name div {
    @apply py-2;
  }
  .tab-panel {
    @apply flex flex-col md:py-5 md:flex-row md:space-x-7
  }
  .tab-content {
    @apply flex flex-col space-y-8 md:w-1/2 ml-6
  }
  .tab-content h3 {
    @apply mt-6 text-3xl font-semibold text-center md:mt-0 md:text-left;
  }
  .tab-content p {
    @apply text-center  md:text-left
  }
}

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-full bg-softBlue;
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full bg-softBlue;
  }
} 

#hero {
  background-image: url(../images/night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

.border-gray {
  border-color: #aaa
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

